# js
node_modules/
package-lock.json
bin/

# ts
**.js
!njk/templates/**/*.js
**.js.map
**.tsbuildinfo
**.d.ts

# output
logs/
out/

# test output
.nyc_output/

# etc
local/
**/.DS_Store

# template compilation
anki/cards/
