{% set id_question_text = 'question-text' %}
{% set id_console_out = 'console-out' %}
{% set id_console_container = 'console-out-container' %}
{% set id_question_source = 'question-source' %}
{% set cl_question_main = 'question-text-main' %}
{% set cl_neighbor_ctx = 'question-neighbor' %}
{% set cl_prologue = 'prologue' %}
{% set cl_epilogue = 'epilogue' %}
{% set cl_tags = 'tags' %}
{% set cl_source_file = 'file-url' %}
{% set cl_source_line = 'line-number' %}