{% set id_question_text = 'question-text' %}
{% set id_console_out = 'console-out' %}
{% set cl_question_main = 'question-text-main' %}
{% set cl_neighbor_ctx = 'question-neighbor' %}
{% set cl_prologue = 'prologue' %}
{% set cl_epilogue = 'epilogue' %}