{% from "./lib/const.njk" import id_console_container, id_console_out, cl_tags %}
{% include "./lib/question-text.html" %}
{% include "./lib/question-source.html" %}

<hr>
<!-- 
  choices are added to the document body as invisible, 
  one of which will be shown by the custom render script
-->
{% raw %}{{choices}}{% endraw %}

<!--
  Tags are added to DOM for render control.
-->
<span class="{{cl_tags}}">
  {% raw %}{{Tags}}{% endraw %}
</span>

<hr>
<!-- console for debugging -->
<div class="text-left {{id_console_container}}">
  <details>
  <summary>card render logs</summary>
  <div id="{{id_console_out}}"></div>
  </details>
</div>

<script>
  (function() {
    {% include "./lib/front.js" %}
  })()
</script>